<nav class="sidebar-nav">
    <ul id="sidebarnav" class="p-t-30">
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'accounts:home' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Usuarios </span></a>
            <ul aria-expanded="false" class="collapse  first-level">
                <li class="sidebar-item"><a href="{% url 'accounts:registro' %}" class="sidebar-link"><i class="mdi mdi-account-plus"></i><span class="hide-menu"> Registrar </span></a></li>
                <li class="sidebar-item"><a href="{% url 'accounts:consultar' %}" class="sidebar-link"><i class="mdi mdi-account-search"></i><span class="hide-menu"> Consultar </span></a></li>
            </ul>
        </li>
        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-cellphone-link"></i><span class="hide-menu">Recursos </span></a>
            <ul aria-expanded="false" class="collapse  first-level">
                <li class="sidebar-item"><a href="{% url 'recursos:registrar_recurso' %}" class="sidebar-link"><i class="mdi mdi-shape-circle-plus"></i><span class="hide-menu"> Registrar </span></a></li>
                <li class="sidebar-item"><a href="{% url 'recursos:consultar_recursos' %}" class="sidebar-link"><i class="mdi mdi-magnify-plus"></i><span class="hide-menu"> Consultar </span></a></li>
            </ul>
        </li>
        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-book"></i><span class="hide-menu">Reservas </span></a>
            <ul aria-expanded="false" class="collapse  first-level">
                <li class="sidebar-item"><a href="{% url 'reservas:crear_reserva' %}" class="sidebar-link"><i class="mdi mdi-bookmark-plus"></i><span class="hide-menu"> Crear </span></a></li>
                <li class="sidebar-item"><a href="{% url 'reservas:consultar_reservas' %}" class="sidebar-link"><i class="mdi mdi-bookmark-outline"></i><span class="hide-menu"> Consultar </span></a></li>
            </ul>
        </li>
    </ul>
</nav>
