<ul class="navbar-nav float-right">

    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><p>{{user.get_full_name}} ({{user.get_tipo}})</p></a>
        <div class="dropdown-menu dropdown-menu-right user-dd animated">
            <a class="dropdown-item" href="{% url 'reservas:consultar_reservas' %}"><i class="ti-bookmark-alt m-r-5 m-l-5"></i> Mis reservas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}"><i class="ti-settings m-r-5 m-l-5"></i> Editar perfil</a>
            <a class="dropdown-item" href="{% url 'accounts:cambiar_contrasena' %}"><i class="ti-key m-r-5 m-l-5"></i> Cambiar contraseña</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="fa fa-power-off m-r-5 m-l-5"></i> Salir</a>
        </div>
    </li>
    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
</ul>
