{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block titulo %} Cambiar contraseña {% endblock titulo%}
{% block miga_pan %}
<li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">Dashboard</a></li>
<li class="breadcrumb-item active">Cambiar Contraseña</li>
{% endblock miga_pan %}

{% block contenido %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-body">
        <h3><b>Cambiar contraseña</b></h3>
        <div class="row">
          <div class="col-md-12">
            <form method="post" action="{% url 'accounts:cambiar_contrasena' %}">
              {% csrf_token %}
              {% bootstrap_form form  %}
              <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
