{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block titulo %} Cambiar contraseña {% endblock titulo%}
{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Cambiar Contraseña</li>
{% endblock miga_pan %}

{% block contenido_panel %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Cambiar Contraseña</h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form  %}
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}