{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block titulo %}Editar reserva{% endblock titulo %}
{% block titulo_panel %}Editar reserva{% endblock titulo_panel %}
{% block descripcion_pagina %}Edita una reserva{% endblock descripcion_pagina %}

{% block contenido %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-body">
        <h3>Editar reserva de<b> {{recurso}}</b></h3><br>
        <div class="row">
          <div class="col-md-12">
            <form method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-success">Editar reserva</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}

{% block js %}

<script type="text/javascript" src="{% static '/dist/js/check.js' %}"></script>

{% endblock js %}
